# ╔══════════════════════════════════════════════════════════════════════════════╗
# ║                           Aroma Affect Code Owners                           ║                                       ║
# ╚══════════════════════════════════════════════════════════════════════════════╝

# Default owner for all files
*   @ToxicSSJ

# ════════════════════════════════════════════════════════════════════════════════
# Team
# ────────────────────────────────────────────────────────────────────────────────
#   Abraham M. Lora   @ToxicSSJ   abraham@moodstudios.co
# ════════════════════════════════════════════════════════════════════════════════
