# ╔══════════════════════════════════════════════════════════════════════════════╗
# ║                           AromaCraft Code Owners                              ║
# ║                                                                               ║
# ║  © Mood Studios for OVR Technology                                           ║
# ╚══════════════════════════════════════════════════════════════════════════════╝

# Default owner for all files
*   @ToxicSSJ

# ════════════════════════════════════════════════════════════════════════════════
# Team
# ────────────────────────────────────────────────────────────────────────────────
#   Abraham M. Lora   @ToxicSSJ   abraham@moodstudios.co
# ════════════════════════════════════════════════════════════════════════════════
